/* Estilos gerais */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Cor de fundo */
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 60rem;
  background: white;
  border: 2px solid black; /* Borda azul */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 10rem;
  overflow: auto;
  transition: height 0.3s ease;
}
.altura-expandida {
  height: auto !important;
}

.body-container {
  width: 100%;
}

.div-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-title p {
  font-weight: bold;
  background-color: black;
  color: white;
}

.div-endereco {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.div-label-nf {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: black;
  color: white;

  font-size: 14px;
}

.footer-importador {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.logo {
  width: 200px; /* Ajuste a largura conforme necessário */
  height: 40px; /* Mantém a proporção da imagem */
  margin-right: 10px; /* Espaçamento entre a logo e o texto */
  color: black;
}

/* Estilos para o título */
.titulo-importador {
  font-size: 24px; /* Tamanho da fonte do título */
  font-weight: bold; /* Negrito */
  text-align: center; /* Centraliza o título */
  color: #ff3333;
}

/* Estilos para o campo de entrada de arquivo */
.input-file {
  margin-bottom: 15px; /* Espaçamento abaixo do campo de arquivo */
  padding: 10px; /* Espaçamento interno do campo */
  border: 1px solid #ff3333; /* Borda azul */
  border-radius: 4px; /* Borda arredondada */
  width: 100%;
  font-size: 16px; /* Tamanho da fonte */
  background-color: #f9f9f9; /* Cor de fundo leve */
}
#print-content {
  margin-top: 10rem;
  width: 100%;
  height: 33rem;
  overflow: scroll;
}
.titulos-arquivo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 27%;
  width: 45rem;
  text-align: center;
}
/* Estilos para o container do input */
.input-container {
  position: absolute;
  top: 30%;
  margin-bottom: 15px; /* Espaçamento abaixo do container do input */
  align-items: center;
  justify-content: center;
}

/* Estilos para o label */
.label {
  display: block; /* Exibe o label como um bloco */
  margin-bottom: 5px; /* Espaçamento abaixo do label */
  font-weight: bold; /* Negrito */
}

.label-nf {
  display: block;
  font-size: 25px;

  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Estilos para o campo numérico */
.input-number {
  padding: 10px; /* Espaçamento interno do campo numérico */
  border: 1px solid #ff3333; /* Borda azul */
  border-radius: 4px; /* Borda arredondada */
  width: 100%; /* Largura total do container */
  font-size: 16px; /* Tamanho da fonte */
  background-color: #f9f9f9; /* Cor de fundo leve */
}

/* Estilos para o botão de imprimir */
.btn-imprimir {
  width: 100%;
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remove borda padrão */
  border-radius: 4px; /* Borda arredondada */
  background-color: #ff3333; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
  transition: background-color 0.3s; /* Transição suave para cor de fundo */
}

.btn-imprimir:hover {
  background-color: #c73a3a; /* Cor do botão ao passar o mouse */
}

.div-button-imprimir {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.checkbox-escondido {
  display: none;
}

.botao-checkbox {
  text-align: center;
  display: inline-block;
  padding: 10px 0px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botao-checkbox.inativo {
  background-color: #2ecc71;
}

/* Estado marcado = vermelho */
.botao-checkbox.ativo {
  background-color: #e74c3c;
}

.page {
  display: flex;
  width: 45rem;

  margin: 0 0rem 2rem 10rem;
  justify-content: center;
}

.transportadora {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-weight: bold;
  text-decoration: underline;
}

.n-pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.n-oc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.div-oc {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: right;
  font-size: 1.2rem;
  height: 30px;
}

.div-trans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.div-section {
  width: 60%;
  border: 1px solid;
  padding: 10px;
}

.div-footer {
  width: 100%;
  text-align: center;
}

/* Estilos responsivos */

@media (max-width: 1050px) {
  .container {
    max-width: 800px; /* Ajusta a largura para dispositivos menores */
  }

  .label {
    font-size: 1.5vw;
  }

  .transportadora {
    font-size: 1.5vw;
  }

  .footer {
    font-size: 90%;
  }
  .titulos-arquivo {
    left: 13%;
    width: 45rem;
  }
  .page {
    width: 40rem;
  }
}
@media (max-width: 950px) {
  .container {
    display: flex;
    align-items: center;
    max-width: 800px; /* Ajusta a largura para dispositivos menores */
  }

  .label {
    font-size: 1.5vw;
  }

  .transportadora {
    font-size: 1.5vw;
  }

  .footer {
    font-size: 90%;
  }
  .titulos-arquivo {
    position: static;
    width: 35rem;
  }
  .input-container {
    width: 80%;
  }
}

@media (max-width: 860px) {
  .container {
    max-width: 600px; /* Ajusta a largura para dispositivos menores */
  }

  .input-file {
    width: 93%;
  }

  .footer {
    font-size: 13.5px;
  }
  .page {
    display: flex;
    width: 35rem;
  }
}

@media (max-width: 810px) {
  #print-content {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
  }
  .container {
    width: 800px; /* Ajusta a largura para dispositivos menores */
  }
  .input-container {
    position: static;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 140px;
    height: 30px;
  }
  .page {
    margin: 0 0 2rem;
  }
  .form-group-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .input-file {
    width: 93%;
  }

  .label-nf {
    font-size: 3vw;
  }

  .footer {
    font-size: 14.2px;
  }

  .div-section {
    width: 80%;
  }
  .titulos-arquivos {
    position: static;
  }
}

@media (max-width: 680px) {
  .label {
    font-size: 2vw;
  }
  .titulos-arquivo {
    left: 10%;
    width: 20rem;
  }
  .transportadora {
    font-size: 2vw;
  }

  .n-pedido {
    font-size: 2vw;
  }

  .label-nf {
    font-size: 3vw;
  }

  .footer {
    font-size: 11.2px;
  }
  .input-container {
    position: static;
  }
  .container {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .label {
    font-size: 3vw;
  }

  .transportadora {
    font-size: 3vw;
  }

  .label-nf {
    font-size: 4vw;
  }

  .footer {
    font-size: 2.66vw;
  }
  .botao-checkbox {
    width: 100%;
    text-align: center;
  }
  .container {
    width: 200px;
  }
}

@media (max-width: 456px) {
  .container {
    width: 400px; /* Ajusta a largura para dispositivos menores */
  }

  .footer {
    font-size: 2.58vw;
  }
}

@media (max-width: 420px) {
  .container {
    width: 350px;
  }
  .footer {
    font-size: 2.5vw;
  }
}

@media (max-width: 370px) {
  .container {
    width: 290px;
  }
  .footer {
    font-size: clamp(12px, 2.4vw, 16px);
  }
}

@media (max-width: 330px) {
  .container {
    width: 290px;
  }
  .footer {
    font-size: 2.3vw;
  }
}
